@if (isAddingTask) {
    <app-new-task (cancel)="onCloseTask()" (newAddData)="onAddNewTask($event)" [selectedUserId]="selectedUserId"></app-new-task>
}

<section id="tasks">
    <header>
        <h2>{{name}}'s Tasks</h2>
        <menu>
            <button type="button" (click)="openAddTask()">Add Task</button>
        </menu>
    </header>

    <ul>
        @if (selectedTasks.length !== 0) {
            @for (t of selectedTasks; track t.id) {
                <li>
                    <app-task [tasks]="t"></app-task>
                </li>
            }
        } @else {
            <div class="alert alert-warning">No tasks available</div>
        }
    </ul>
</section>
